{% extends 'base.html' %}

{% block title %}Add Student{% endblock %}

{% block content %}
    <h1>Add New Student</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Student</button>
    </form>
    {% if active_semesters %}
    <a href="{% url 'student_list' active_semesters.0 %}" class="btn btn-secondary mt-3">Cancel</a>
    {% else %}
        <a href="{% url 'student_list' 1 %}" class="btn btn-secondary mt-3 ">Cancel</a>
    {% endif %}
{% endblock %}
