
{% extends 'base.html' %}

{% block title %}Add Course{% endblock %}

{% block content %}
    <h1>Course Form</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save Course</button>
    </form>
    {% if semesters %}
    <a href="{% url 'course_list' semesters.0 %}" class="btn btn-secondary mt-3">Cancel</a>
    {% else %}
        <a href="{% url 'course_list' 1 %}" class="btn btn-secondary mt-3 disabled">Cancel</a>
    {% endif %}
{% endblock %}
