{% extends 'base.html' %}

{% block title %}
Register Teacher
{% endblock %}

{% block content %}
<div class="container">
    <h1>Create a New Teacher</h1>
    <form method="post">
        {% csrf_token %}
        <h2>User Information</h2>
        {{ user_form.as_p }}
        <h2>Teacher Information</h2>
        {{ teacher_form.as_p }}
        <button type="submit" class="btn btn-primary">Create Teacher</button>
    </form>
    <a href="{% url 'teacher_list' %}" class="btn btn-secondary mt-3">Back to Teacher List</a>
</div>
{% endblock %}
